body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #eee;
  font-family: 'Lacquer', sans-serif;
}
html {
  height: 100%;
}

button {
  background-color: #000;
  color: #eee;
  border: 1px solid #fff;
}

.cardImage {
  max-height: 400px;
  width: 100%;
}

ul {
  display: block;
  list-style-type: none;
}

a {
  color: #fff !important;
  text-decoration: underline;
}